extends layout2

block content
  .home-header
  h1 Saldão em PC GAMER e IMPRESSORAS
  img(src="/images/informatica.jpg.jpg" alt="Banner da loja" style="width:100%; height:auto;")
  .content
    h2 Confira nossas principais ofertas
    if produtos.length
      each produto in produtos
        .produto
          h3= produto.nome
          p Descrição: #{produto.descricao}
          p Preço: R$ #{produto.preco}
    else
      p Nenhum produto disponível no momento.